# Wrangling Procedures

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# file path
path = r'/Users/elliothaigh/05-2023 Instacart Basket Analysis'

In [8]:
# import data sets
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'orders.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'products.csv'), index_col = False)

In [10]:
# dropping eval_set from orders
df_ords = df_ords.drop(columns = ['eval_set'])

In [11]:
# searching for missing values
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [12]:
# change order_id from int to str
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [31]:
# import departments data set
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'departments.csv'), index_col = False)

In [17]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [20]:
# Transpose df.dep
df_dep_t = df_dep.T

In [21]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [22]:
# Correct df_dep header
new_header = df_dep_t.iloc[0]

df_dep_t_new = df_dep_t[1:]

df_dep_t_new.columns = new_header

In [25]:
# Create Data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [26]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [27]:
print(data_dict.get('19'))

{'department': 'snacks'}

In [28]:
# Subsetting
df_snacks =  df_prods[df_prods['department_id']==19]

In [29]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [30]:
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([19])]

In [32]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

# Exercise Task

In [34]:
# 4.2 - change user_id from int to str
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [40]:
# 4.3 - change name order_dow
df_ords.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [41]:
df_ords.head

<bound method NDFrame.head of         order_id user_id  order_number  order_day_of_week  order_hour_of_day  \
0        2539329       1             1                  2                  8
1        2398795       1             2                  3                  7
2         473747       1             3                  3                 12
3        2254736       1             4                  4                  7
4         431534       1             5                  4                 15
...          ...     ...           ...                ...                ...
3421078  2266710  206209            10                  5                 18
3421079  1854736  206209            11                  4                 10
3421080   626363  206209            12                  1                 12
3421081  2977660  206209            13                  1                 12
3421082   272231  206209            14                  6                 14

         days_since_prior_order
0                           NaN
1                          15.0
2                          21.0
3                          29.0
4                          28.0
...                         ...
3421078                    29.0
3421079                    30.0
3421080                    18.0
3421081                     7.0
3421082                    30.0

[3421083 rows x 6 columns]>

In [49]:
# 4.4 - Most common hour of order - Answer = 10am
df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

In [50]:
# 4.5 Determine the meaning behind a value of 4 in department_id - Answer = Produce
print(data_dict.get('4'))

{'department': 'produce'}

In [51]:
# 4.6 Subset Breakfast items
df_breakfast = df_prods.loc[df_prods['department_id'].isin([14])]

In [54]:
# 4.7 Subset dinner parties
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5, 7, 12, 20])]
print(df_dinner_party)

       product_id                                    product_name  aisle_id  \
2               3            Robust Golden Unsweetened Oolong Tea        94
6               7                  Pure Coconut Water With Orange        98
9              10  Sparkling Orange Juice & Prickly Pear Beverage       115
10             11                               Peach Mango Juice        31
16             17                               Rendered Duck Fat        35
...           ...                                             ...       ...
49676       49672                          Cafe Mocha K-Cup Packs        26
49679       49675             Cinnamon Dolce Keurig Brewed K Cups        26
49680       49676                          Ultra Red Energy Drink        64
49686       49682                              California Limeade        98
49688       49684       Vodka, Triple Distilled, Twist of Vanilla       124

       department_id  prices
2                  7     4.5
6                  7     4.4
9                  7     8.4
10                 7     2.8
16                12    17.1
...              ...     ...
49676              7     6.5
49679              7    14.0
49680              7    14.5
49686              7     4.3
49688              5     5.3

[7650 rows x 5 columns]

In [55]:
# 4.8 df_dinner_party has 7650 rows

In [60]:
# 4.9 user_id 1
df_user_id_1 = df_ords.loc[df_ords['user_id']=='1']
print(df_user_id_1)

   order_id user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329       1             1                  2                  8
1   2398795       1             2                  3                  7
2    473747       1             3                  3                 12
3   2254736       1             4                  4                  7
4    431534       1             5                  4                 15
5   3367565       1             6                  2                  7
6    550135       1             7                  1                  9
7   3108588       1             8                  1                 14
8   2295261       1             9                  1                 16
9   2550362       1            10                  4                  8
10  1187899       1            11                  4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0

In [62]:
df_user_id_1.describe()

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

In [63]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [ ]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))