# 4.6 Exercises

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
# file path
path = r'/Users/elliothaigh/05-2023 Instacart Basket Analysis'

In [9]:
# import data sets
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'order_products__prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_clean_no_dups.csv'), index_col = False)

In [10]:
# Data check
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 9)

In [16]:
# merge
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [17]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,Yes,196.0,1.0,0.0,both
1,0,0,2539329,1,1,2,8,NaN,Yes,14084.0,2.0,0.0,both
2,0,0,2539329,1,1,2,8,NaN,Yes,12427.0,3.0,0.0,both
3,0,0,2539329,1,1,2,8,NaN,Yes,26088.0,4.0,0.0,both
4,0,0,2539329,1,1,2,8,NaN,Yes,26405.0,5.0,0.0,both

In [18]:
# merge flag check
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [19]:
# export as pickle file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))