In [1]:
import numpy as np
import pandas as pd
import os

In [116]:
# file path
path = r'/Users/elliothaigh/05-2023 Instacart Basket Analysis'

In [117]:
# import data sets
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [118]:
# create vlaues for the price range
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [119]:
# create df for first 1,000,000 rows
df = df_ords_prods_merged[:1000000]

In [120]:
# assign price range values to new column price_range
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/zf/5wl5rbdx2sd06spmrq4nqtww0000gn/T/ipykernel_12415/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [121]:
# count of price_range values
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [122]:
# maximum price value in df 
df['prices'].max()

14.8

In [123]:
# using the df.loc function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/zf/5wl5rbdx2sd06spmrq4nqtww0000gn/T/ipykernel_12415/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [124]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [125]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [126]:
# count of price_range_loc values
df['price_range_loc'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [127]:
# apply the .loc function to the entire df_ords_prods_merged
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [128]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [129]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [130]:
# values counts of price_range_loc
df_ords_prods_merged['price_range_loc'].value_counts()

Low-range product     10126321
Mid-range product       756450
High-range product      417678
Name: price_range_loc, dtype: int64

In [131]:
# freq of orders_day_of_the_week
df_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [132]:
# Busiest day of the week
result = []

for value in df_ords_prods_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [133]:
df_ords_prods_merged['busiest_day'] = result

In [134]:
# values for busiest_day column 
df_ords_prods_merged['busiest_day'].value_counts()

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [135]:
# New column businest days - two busiest days and two slowest days labeled
result = []

for value in df_ords_prods_merged["order_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 4 or value == 3:
    result.append("Slowest days")
  else:
    result.append("Regularly busy")

In [136]:
df_ords_prods_merged['busiest_days'] = result

In [137]:
# values for busiest days column 
df_ords_prods_merged['busiest_days'].value_counts()

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

These values look good, we would expect the regularly busy days to be the highest as there are three days in this group. Busiest days contains the two busiest days and the slowest days the two slowest days.

In [138]:
# freq of orders by hour
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [139]:
# create new column for busiest period of day - grouped by time periods below
result_hr = []

for value in df_ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_hr.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    result_hr.append("Fewest orders")
  else:
    result_hr.append("Average orders")

In [140]:
df_ords_prods_merged['busiest_period_of_day'] = result_hr

In [143]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,Yes,196.0,1.0,0.0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,No,196.0,1.0,1.0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,No,196.0,1.0,1.0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,No,196.0,1.0,1.0,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,No,196.0,1.0,1.0,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [144]:
# freq of busiest_period_of_day
df_ords_prods_merged['busiest_period_of_day'].value_counts()

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [145]:
# export df file
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_orders_products_merged_4.7.pkl'))